<!DOCTYPE html>
<h2 class="subject" style="text-align:center;">Managing Branches</h2>

    <h4 class="git-merge hcenter fix-pos arg below-to" below-ref=".subject" below-offset="80" style="text-align:center;">git merge</h2>

    <div class="b1 hcenter fix-pos arg below-to" below-ref=".git-merge" below-offset="20">
        <h5>use case</h5>
        <label class="caption arg-desc">consolidating major/public branches</label>
    </div>

    <div class="hcenter fix-pos below-to" below-ref=".git-merge" below-offset="13" style="margin-left: 300px;">
        <div class="slide bubble">
            <p>Rollback will be easier</p>
        </div>
    </div>

    <h4 class="git-rebase hcenter fix-pos arg below-to" below-ref=".b1" below-offset="80" style="text-align:center;">git rebase</h2>

    <div class="b1 hcenter fix-pos arg below-to" below-ref=".git-rebase" below-offset="20">
        <h5>use case</h5>
        <label class="caption arg-desc">consolidating minor/private branches</label>
    </div>

    <div class="hcenter fix-pos below-to" below-ref=".git-rebase" below-offset="0" style="margin-left: 300px;">
        <div class="slide bubble" style="height:100px;">
            <p>Not recommended<br/>in some workflows</p>
        </div>
    </div>