<h2 style="text-align:center;">Tools</h2>

    <div class="t1 toolbox hcenter fix-pos">
        <img src="images/GitExtensions.png"/>  
        <div class="toolhead">      
            <h5>Git Extensions</h5>
            <a href="http://bit.ly/uKFl4U">            
                <label class="caption">http://bit.ly/uKFl4U</label>
            </a>
        </div>
    </div>  

    <div class="t2 toolbox hcenter fix-pos below-to" below-ref=".t1" data-offset="00">        
        <img src="images/SourceTree.png"/>
        <div class="toolhead">
            <h5>SourceTree</h5>
            <a href="http://bit.ly/afI2XP">                
                <label class="caption">http://bit.ly/afI2XP</label>
            </a>
        </div>
    </div>

    <div class="t3 toolbox hcenter fix-pos below-to" below-ref=".t2" data-offset="00">        
        <img src="http://www.collab.net/sites/all/themes/collabnet/_media/giteye/graphical-goodness.png"/>
        <div class="toolhead">
            <h5>GitEye</h5>
            <a href="http://bit.ly/17TpaS0">            
                <label class="caption">http://bit.ly/17TpaS0</label>
            </a>
        </div>
    </div>

    <div class="t4 toolbox hcenter fix-pos below-to" below-ref=".t3" data-offset="00">        
        <img src="http://tortoisegit.googlecode.com/git/doc/images/en/GitSync.png"/>
        <div class="toolhead">
            <h5>TortoiseGit</h5>
            <a href="http://bit.ly/VLFxuF">            
                <label class="caption">http://bit.ly/VLFxuF</label>
            </a>
        </div>
    </div>