<!DOCTYPE html>
<h2 style="text-align:center;">Tutorials</h2>

    <div class="r1 reference hcenter fix-pos" style="line-height: 0.8; text-align:left;">
        <h5>Git Tutorials and Training | Atlassian</h5>
        <a href="http://bit.ly/13pSHVC"><label class="caption">http://bit.ly/13pSHVC</label></a>
    </div>  

    <div class="r2 reference hcenter fix-pos below-to" below-ref=".r1" data-offset="20">
        <h5>git-flow cheatsheet</h5>
        <a href="http://bit.ly/10SEQmg"><label class="caption">http://bit.ly/10SEQmg</label></a>
    </div>

    <div class="r3 reference hcenter fix-pos below-to" below-ref=".r2" data-offset="20">
        <h5>Git Immersion</h5>
        <a href="http://bit.ly/gNMyO3"><label class="caption">http://bit.ly/gNMyO3</label></a>
    </div>

    <div class="r4 reference hcenter fix-pos below-to" below-ref=".r3" data-offset="20">
        <h5>Learning Git Branching</h5>
        <a href="http://bit.ly/Y0W8jl"><label class="caption">http://bit.ly/Y0W8jl</label></a>
    </div>

    <div class="r5 reference hcenter fix-pos below-to" below-ref=".r4" data-offset="20">
        <h5>Git Reference</h5>
        <a href="http://bit.ly/9cA8bB"><label class="caption">http://bit.ly/9cA8bB</label></a>
    </div>

    <div class="r6 reference hcenter fix-pos below-to" below-ref=".r5" data-offset="20">
        <h5>Git from the bottom up</h5>
        <a href="http://bit.ly/YiEOa"><label class="caption">http://bit.ly/YiEOa</label></a>
    </div>