<!DOCTYPE html>
<h2 style="text-align:center;">Tips</h2>

<div class="r1 reference hcenter fix-pos" style="line-height: 0.8; text-align:left;">
    <h5>Git Completion</h5>
    <a href="http://bit.ly/hE8Mg0"><label class="caption">http://bit.ly/hE8Mg0</label></a>
</div>

<div class="r2 reference hcenter fix-pos below-to" below-ref=".r1" data-offset="20">
    <h5>Branch in Prompt</h5>
    <a href="http://bit.ly/12KwEun"><label class="caption">http://bit.ly/12KwEun</label></a>
</div>

<div class="r3 reference hcenter fix-pos below-to" below-ref=".r2" data-offset="20">
    <h5>Git Magic</h5>
    <a href="http://stanford.io/RG1HR"><label class="caption">http://stanford.io/RG1HR</label></a>
</div>

<div class="r4 reference hcenter fix-pos below-to" below-ref=".r3" data-offset="20">
    <h5>Useful GitHub patterns</h5>
    <a href="http://bit.ly/1319c50"><label class="caption">http://bit.ly/1319c50</label></a>
</div>

<div class="r5 reference hcenter fix-pos below-to" below-ref=".r4" data-offset="20">
    <h5>Sample .gitconfig</h5>
    <a href="http://bit.ly/1bCHuAH"><label class="caption">http://bit.ly/1bCHuAH</label></a>
</div>

