<h2 style="text-align:center;">Changing References</h2>

    <h4 class="git-co hcenter fix-pos arg below-to" below-ref=".subject" below-offset="80" style="text-align:center;">git checkout</h2>

    <div class="r1 hcenter fix-pos arg below-to" below-ref=".git-co" below-offset="20">
        <h5>-b</h5>
        <label class="caption arg-desc">create a new branch and refer to it</label>
    </div>

    <h4 class="git-br hcenter fix-pos arg below-to" below-ref=".r1" below-offset="30" style="text-align:center;">git branch</h2>

    <div class="b1 hcenter fix-pos arg below-to" below-ref=".git-br" below-offset="20">
        <h5>-f</h5>
        <label class="caption arg-desc">force branch referring certain point</label>
    </div>

    <div class="b2 hcenter fix-pos below-to arg" below-ref=".b1" below-offset="0">
        <h5>-avv</h5>
        <label class="caption arg-desc">show all branches with its last commit and upstream reference</label>
    </div>