<h2 class="subject" style="text-align:center;">Viewing Logs</h2>

    <h4 class="git-rlg hcenter fix-pos arg below-to" below-ref=".subject" below-offset="80" style="text-align:center;">git reflog</h4>

    <div class="r1 hcenter fix-pos arg below-to" below-ref=".git-rlg" below-offset="20">
        <h5>show [REF]</h5>
        <label class="caption arg-desc">show the log of the reference</label>
    </div>

    <h4 class="git-lg hcenter fix-pos arg below-to" below-ref=".r1" below-offset="35" style="text-align:center;">git log</h2>

    <div class="l1 hcenter fix-pos arg below-to" below-ref=".git-lg" below-offset="20">
        <h5>--graph</h5>
        <label class="caption arg-desc">draw graphical commit history</label>
    </div>

    <div class="l2 hcenter fix-pos arg below-to" below-ref=".l1" below-offset="0">
        <h5>--pretty</h5>
        <label class="caption arg-desc">prettify the log output</label>
    </div>

    <h4 class="git-blame hcenter fix-pos arg below-to" below-ref=".l2" below-offset="35" style="text-align:center;">git blame</h2>

    <div class="b1 hcenter fix-pos arg below-to" below-ref=".git-blame" below-offset="20">
        <h5>&nbsp;</h5>
        <label class="caption arg-desc">who just touched the lines most recently</label>
    </div>