<h2 style="text-align:center;">Applying Changes</h2>

    <h4 class="git-add hcenter fix-pos arg below-to" below-ref=".subject" below-offset="80" style="text-align:center;">git add</h2>

    <div class="a1 hcenter fix-pos arg below-to" below-ref=".git-add" below-offset="20">
        <h5>-p</h5>
        <label class="caption arg-desc">patch mode; add changes to staging by hunks</label>
    </div>  

    <h4 class="git-rm hcenter fix-pos arg below-to" below-ref=".a1" below-offset="30" style="text-align:center;">git rm</h2>

    <div class="r1 hcenter fix-pos arg below-to" below-ref=".git-rm" below-offset="20">
        <h5>--cached</h5>
        <label class="caption arg-desc">stage the deletion but remain the files in disk</label>
    </div>