<h2 class="subject" style="text-align:center;">Managing Commits</h2>

    <h4 class="git-cp hcenter fix-pos arg below-to" below-ref=".subject" below-offset="80" style="text-align:center;">git cherry-pick</h2>

    <div class="c1 hcenter fix-pos arg below-to" below-ref=".git-cp" below-offset="20">
        <h5>use case</h5>
        <label class="caption arg-desc">redo changes on different branches</label>
    </div>

    <h4 class="git-rebase hcenter fix-pos arg below-to" below-ref=".c1" below-offset="35"  style="text-align:center;">git rebase -i</h2>

    <div class="r1 hcenter fix-pos arg below-to" below-ref=".git-rebase" below-offset="20">
        <h5>use case</h5>
        <label class="caption arg-desc">refine commits on the same branches</label>
    </div>