<h2 style="text-align:center;">Undoing Changes</h2>

    <h4 class="git-reset hcenter fix-pos arg below-to" below-ref=".subject" below-offset="80" style="text-align:center;">git reset</h2>

    <div class="r1 hcenter fix-pos arg below-to" below-ref=".git-reset" below-offset="20">
        <h5>-p</h5>
        <label class="caption arg-desc">patch mode; reset changes by hunks</label>
    </div>

    <div class="r2 hcenter fix-pos below-to arg" below-ref=".r1" below-offset="0">
        <h5>--soft</h5>
        <label class="caption arg-desc">reset to staging</label>
    </div>  

    <div class="r3 hcenter fix-pos below-to arg" below-ref=".r2" below-offset="0">
        <h5>--mixed</h5>
        <label class="caption arg-desc">the default; reset to working</label>
    </div>

    <div class="r4 hcenter fix-pos below-to arg" below-ref=".r3" below-offset="0">
        <h5>--hard</h5>
        <label class="caption arg-desc">reset as unchanged</label>
    </div>

    <h4 class="git-co hcenter fix-pos arg below-to" below-ref=".r4" below-offset="30" style="text-align:center;">git checkout</h2>

    <div class="r1 hcenter fix-pos arg below-to" below-ref=".git-co" below-offset="20">
        <h5>-- [PATHs]</h5>
        <label class="caption arg-desc">update PATHs with local indexed version</label>
    </div>