<!DOCTYPE html>
<h2 class="subject" style="text-align:center;">Fork</h2>
<p class="subtitle fix-pos hcenter below-to" below-ref=".subject" below-offset="30">To have your own repository</p>

<div class="git-main branch hcenter fix-pos" style="width:250px;margin-left:-200px;">
    <div style="margin-left: 5px;"><span class="octicon octicon-repo"></span></div>
    <div style="line-height:0.5"><label class="caption" style="font-size: 0.65em">gC<br/>
        <span style="font-size:0.75em;color:darkgray">main</span></label>
    </div>
</div>

<div class="fix-pos after-to" after-ref=".git-main" after-offset="-260" style="width:90px;">
    <div class="slide">
        <div style="margin-top:10px;text-align:center;width:90px;">
            <div style="line-height:0.5;"><label class="caption" style="font-size: 0.65em;color:darkred;">Fork</label></div>
            <div style="margin-left: 5px;"><span class="octicon octicon-arrow-right arrow"></span></div>
        </div>
    </div>
</div>

<div class="branch hcenter fix-pos">
    <div class="slide">
        <div class="git-ipm">
            <div><span class="octicon octicon-repo"></span></div>
            <div style="line-height:0.5"><label class="caption" style="font-size: 0.65em">gC<br/>
                <span style="font-size:0.75em;color:darkgray">my own fork</span></label>
            </div>
            <div><span class="octicon octicon-alignment-aligned-to rotate-45"></span></div>
            <div><label class="caption" style="font-size: 0.65em">master</label></div>
            <div><span class="octicon octicon-git-branch"></span></div>
        </div>

        <div class="slide">
            <div class="git-ipm-branch-dev branch hcenter" below-ref=".git-ipm" style="color: #0b7495;">
                <div><span class="octicon octicon-alignment-aligned-to rotate-45"></span></div>
                <div><label class="caption" style="font-size: 0.65em">dev</label></div>
                <div><span class="octicon octicon-git-branch"></span></div>
            </div>

            <div class="bubble" style="width:300px;margin-left:100px;margin-top:-80px;">
                <p>So that you're now free to do anything</p>
            </div>
        </div>
    </div>
</div>

