<!DOCTYPE html>
<h2 class="subject" style="text-align:center;">Pull Request</h2>
<p class="subtitle fix-pos hcenter below-to" below-ref=".subject" below-offset="30">To submit your changes</p>

<div class="git-main branch hcenter fix-pos" style="width:250px;margin-left:-200px;">
    <div style="margin-left: 5px;"><span class="octicon octicon-repo"></span></div>
    <div style="line-height:0.5"><label class="caption" style="font-size: 0.65em">gC<br/>
        <span style="font-size:0.75em;color:darkgray">main</span></label>
    </div>
</div>

<div class="git-ipm branch hcenter fix-pos">
    <div><span class="octicon octicon-repo"></span></div>
    <div style="line-height:0.5"><label class="caption" style="font-size: 0.65em">gC<br/>
        <span style="font-size:0.75em;color:darkgray">my own fork</span></label>
    </div>
    <div><span class="octicon octicon-alignment-aligned-to rotate-45"></span></div>
    <div><label class="caption" style="font-size: 0.65em">master</label></div>
    <div><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="git-ipm-branch-dev branch hcenter fix-pos below-to" below-ref=".git-ipm" style="color: #0b7495;">
    <div><span class="octicon octicon-alignment-aligned-to rotate-45"></span></div>
    <div><label class="caption" style="font-size: 0.65em">dev</label></div>
    <div><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="hcenter fix-pos after-to below-to" below-ref=".git-ipm" after-ref=".git-ipm-branch-dev" after-offset="10">
    <div class="slide">
        <div class="bubble" style="width:300px;">
            <p>Once you have something done...</p>
        </div>
    </div>
</div>

<div class="hcenter fix-pos ahead-to below-to" below-ref=".git-ipm" ahead-ref=".git-ipm-branch-dev" style="margin-top: -80px;">
    <div class="slide" style="text-align:center;width:120px;height:100px;">
        <div>
            <div style="line-height:2;vertical-align:top;"><label class="caption" style="font-size: 0.65em;color:darkred;">Pull Request</label></div>
            <div style="margin-left: 5px;"><span class="octicon octicon-arrow-up arrow-n45"></span></div>
        </div>
    </div>
</div>

<div class="fix-pos ahead-to" ahead-ref=".git-main" ahead-offset="300" style="width:90px;">
    <div class="slide">
        <div class="bubble-r" style="width:250px;height:90px;">
            <p>Owner could review<br/>the decide whether to accept, or not</p>
        </div>
    </div>
</div>