<!DOCTYPE html>
<h2 class="subject" style="text-align:center;">Fixing Defects</h2>
<p class="subtitle fix-pos hcenter below-to" below-ref=".subject" below-offset="30">
    Branching from where the defects raised
</p>

<div class="git-ipm branch hcenter fix-pos below-to" below-ref=".subtitle" data-offset="30">
    <div><span class="octicon octicon-repo"></span></div>
    <div><span class="octicon octicon-alignment-aligned-to rotate-45"></span></div>
    <div><label class="caption" style="font-size: 0.65em">master</label></div>
    <div><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="cvs branch hcenter fix-pos ahead-to below-to" below-ref=".subtitle" below-offset="30" ahead-ref=".git-ipm" style="width:250px;">
    <div style="line-height:0.5"><label class="caption" style="font-size: 0.65em">CVS<br/><span
            style="font-size:0.75em;color:darkgray">mainline</span></label></div>
    <div style="margin-left: 5px;"><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="cvs-br branch hcenter fix-pos after-to below-to" below-ref=".subtitle" below-offset="30" after-ref=".git-ipm" style="width:250px;">
    <div style="line-height:0.5"><label class="caption" style="font-size: 0.65em">CVS<br/><span
            style="font-size:0.75em;color:darkgray">br-pac-13.00</span></label></div>
    <div style="margin-left: 5px;"><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="git-ipm-branch-dev branch hcenter fix-pos below-to" below-ref=".git-ipm" style="color: #0b7495;">
    <div><span class="octicon octicon-alignment-aligned-to rotate-45"></span></div>
    <div><label class="caption" style="font-size: 0.65em">dev</label></div>
    <div><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="git-ipm-branch-rtsai branch hcenter fix-pos below-to" below-ref=".git-ipm-branch-dev" style="color: darkgreen;">
    <div><span class="octicon octicon-alignment-aligned-to rotate-45"></span></div>
    <div><label class="caption" style="font-size: 0.65em">rtsai</label></div>
    <div><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="git-ipm-branch-kchen branch hcenter fix-pos below-to ahead-to" below-ref=".git-ipm-branch-dev" ahead-ref=".git-ipm-branch-rtsai"
     style="color: darkgreen;">
    <div><span class="octicon octicon-alignment-aligned-to rotate-90" style="margin-right: -25px"></span></div>
    <div><label class="caption" style="font-size: 0.65em">kchen</label></div>
    <div><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="git-ipm-branch-shhuang branch hcenter fix-pos below-to after-to" below-ref=".git-ipm-branch-dev" after-ref=".git-ipm-branch-rtsai"
     style="color: darkgreen;">
    <div><span class="octicon octicon-alignment-aligned-to" style="margin-left: -25px"></span></div>
    <div><label class="caption" style="font-size: 0.65em">shhuang</label></div>
    <div><span class="octicon octicon-git-branch"></span></div>
</div>

<div class="git-ipm-tag hcenter fix-pos below-to after-to" below-ref=".git-ipm" after-ref=".git-ipm-branch-dev" after-offset="0" style="width:320px;">
    <div class="slide">
        <div class="branch" style="color: darkblue;;">
            <div><span class="octicon octicon-alignment-aligned-to" style="margin-left: 0px"></span></div>
            <div><label class="caption" style="font-size: 0.65em">br-pac-13.00</label></div>
            <div><span class="octicon octicon-tag"></span></div>
        </div>
        <div style="float:right;margin-top:-100px;">
            <div class="bubble" style="width:200px;height:100px;">
                <p>Tagged at branch cut<br/>remember?</p>
            </div>
        </div>
    </div>
</div>

<div class="git-ipm-branch-defect hcenter fix-pos below-to after-to" below-ref=".git-ipm" after-ref=".git-ipm-branch-shhuang" after-offset="10" style="width: 350px;">
    <div class="slide">
        <div class="branch" style="color: darkblue;">
            <div><span class="octicon octicon-alignment-aligned-to" style="margin-left: 0px"></span></div>
            <div><label class="caption" style="font-size: 0.65em">defect_8848</label></div>
            <div><span class="octicon octicon-git-branch"></span></div>
        </div>
        <div class="slide">
            <div style="float:right;margin-top:-80px;margin-right:60px;">
                <div class="bubble">
                    <p>Branch from the tag</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div style="float:right;width:200px;margin-right:105px;">
                <div style="width:80px;height:80px;float:left;margin-left:-50px;margin-top:-200px;">
                    <div style="float:left;line-height:2;vertical-align:top;margin-left:-35px;margin-top:25px;"><label class="caption" style="font-size: 0.65em;color:darkred;">Commit</label></div>
                    <div style="float:right;margin-right:35px;margin-top:30px;"><span class="octicon octicon-arrow-up arrow-v"></span></div>
                </div>
                <div style="float:right;margin-top:-175px;margin-right:10px;">
                    <div class="bubble">
                        <p>Once done</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div style="float:left;">
                <div style="width:180px;height:80px;float:left;margin-left:-75px;margin-top:-95px;">
                    <div style="line-height:1;vertical-align:top;"><label class="caption" style="font-size: 0.65em;color:darkred;">Merge</label></div>
                    <div style=""><span class="octicon octicon-arrow-left arrow"></span></div>
                </div>
                <div style="float:right;margin-top:-75px;margin-right:10px;">
                    <div class="bubble">
                        <p>And merge back</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div style="float:left;">
                <div style="width:180px;height:80px;float:left;margin-left:-255px;margin-top:-185px;">
                    <div style="line-height:2;vertical-align:top;"><label class="caption" style="font-size: 0.65em;color:darkred;">Commit</label></div>
                    <div style="margin-left:20px;"><span class="octicon octicon-arrow-up arrow-n45"></span></div>
                </div>
                <div style="float:left;margin-top:-130px;margin-left:-530px;">
                    <div class="bubble-r" style="width:250px;">
                        <p>Commit mainline in the end</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>